* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/group.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding: 0 45px;
    margin: 0 auto;
}

/* Header */
.header {
    padding: 11px 0 48px;
    background: #F8F4FC;
}

.header .container {
    display: flex;
    align-items: center;
}

nav {
    margin-left: 65px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar {
    margin: 0 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #354657
}

.sing {
    margin-left: auto;
}

.sing a:nth-child(2){
    margin-left: 36px;
    margin-right: 36px;
}

/* Main */
.main {
    max-width: 740px;
    margin: 0 auto;
}
.main__title {
    margin-top: 71px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #354657;
}

.main__img {
    margin: 40px 0;
}

.main__description {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #354657;
    border-bottom: 1px solid #E2E2E2;
}

.main__quote {
    padding: 10px 0;
    padding-left: 23px;
    margin: 40px 0;
    border-left: 4px solid #946FD3;
}

.main__quote p {
    margin-top: 12px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #7D7D7D;
}

/* Share */
.share__title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #354657;
}

.share__btn, .share__btn a {
    display: flex;
    align-items: center;
}

.share__btn a {
    padding: 10px 25px;
    margin-right: 10px;
    border-radius: 10px;
    color: #000;
}

.share__btn a img {
    width: 20px;
    margin-right: 15px;
}

.facebook {
    border: 3px solid rgb(5, 5, 116);
}
.twitter {
    border: 3px solid rgb(63, 63, 238);
}
.pinterest {
    border: 3px solid rgb(165, 13, 13);
}
.email {
    border: 3px solid rgb(150, 148, 148);
}
.more {
    border: 3px solid rgb(235, 84, 30);
}

/* Footer */
.footer {
    margin-top: 100px;
    padding: 20px 0;
}

.footer .container {
    display: flex;
    align-items: center;
}

.social__networks {
    display: flex;
    align-items: center;
    margin: auto;
}

.foote_icons {
    width: 28px;
    height: 28px;
    margin: 0 8.5px;
}

.social__networks img:last-child{
    margin-left: 20px;
}