* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    padding: 0 45px;
    margin: 0 auto;
}

/* main section */
.main {
    padding-top: 30px;
    height: 100vh;
    max-height: 740px;
    background-image: url("../img/bgMainWindow.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

/* Burger */
.burger {
    position: relative;
    width: 50px;
    height: 50px;
    background: #F7654A;
}

.burger_btn {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 3px;
    border-radius: 5px;
    background: #fff;
}

.burger_btn::before,  .burger_btn::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
}

.burger_btn::before {
    top: -8px;
}

.burger_btn::after {
    top: 8px;
}

.title {
    margin-top: 112px;
    min-height: 700px;
    text-transform: uppercase;
    color: #fff;
}

.title h1 {
    font-size: 64px;
    text-align: center;
    line-height: 95px;
    letter-spacing: 0.02em;
}

.title p {
    margin-top: 35px;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
}

/* Project section */

.display {
    margin-top: -150px;
    padding: 57px 130px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #F7F7F7;
    color: #999999;
}

.years h2{
    font-size: 72px;
    line-height: 107px;
    text-transform: uppercase;
    color: #F7654A;
}

.years p {
    font-size: 18px;
    line-height: 27px;
}

.years .year {
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.projects {
    margin-top: 100px;
}

.projects h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #404149;
}

.our_projects {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.work {
    width: 330px;
}

.work img {
    width: 100%;
}

.work_line {
    width: 55px;
    height: 6px;
    margin-top: 45px;
    margin-bottom: 15px;
    background: #F7654A;
}

.work_title h3{
    margin-bottom: 20px;
    font-weight: 500;
    font-style: 24px;
    font-size: 24px;
    text-align: left;
    line-height: 36px;
    color: #404149;
}

.work_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}


/* Footer */
.footer {
    margin-top: 150px;
    padding-top: 30px;
    padding-bottom: 45px;
    background: #F7654A;
    color: #fff;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_description h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
}

.footer_description p{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
}

.footer_link a {
    display: flex;
    align-items: center;
    padding: 14px 30px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    background: #fff;
    color: #000;
}

.footer_link a img {
    margin-right: 15px;
    height: 15px;
}

/* media */
@media  (max-width: 1199px) {

    .title h1 {
        font-size: 34px;
    }

    .title p {
        margin-top: 25px;
        font-size: 14px;
        line-height: 18px;
    }

    .display {
        padding: 30px 70px;
    }

    .work {
        width: 220px;
    }

    .footer_description h2 {
        font-size: 28px;
    }

    .footer_description p {
        font-size: 16px;
    }

}





