* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #201636;
}

section {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.first-screen {
    height: 100vh;
}

.coaching-program {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/hero.png");
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: left;
}

.content {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

.content h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.description {
    margin-top: 80px;
    margin-bottom: 62px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.task {
    padding: 9px 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #211637;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}

.start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.start img{
    width: 68.46px;
    margin-right: 15px;
}

.time-start {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.start button {
    width: 300px;
    height: 56px;
    background: #F09F0C;
    box-shadow: 0px 4px 20px #7D5103;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1F1f1F;
}

/*  Services */
.services {
    padding-top: 100px;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position-x: 30%;
    background-position-y: top;
}

.our-services {
    display: flex;
    justify-content: center;
}

.our-services div {
    width: 370px;
    text-align: center;
    margin: 0 15px;
}

.our-services div img {
    width: 100px;
    height: 100px;
    margin-bottom: 28px;
}

.our-services div p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

.our-services div span {
    font-weight: 700;
}

.question {
    margin-top: 150px;
    background-image: url("../img/qustion.png");
    background-size: 450px auto;
    background-repeat: no-repeat;
    background-position-y: 35px;
}

.title {
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.title span{
    color: #F09F0C;
}

.question h3 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.questions-list {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.questions-list ul {
    width: 501px;
    margin-left: 150px;
}

.questions-list li {
    position: relative;
    margin: 24px 0;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.questions-list li::before {
    content: url("../img/icons/arrow.png");
    position: absolute;
    top: 0;
    left: -50px;
}